<h2>Shipping</h2>
<div class="col-lg-3">
  <nav class="navbar navbar-default navbar-fixed-side">
    <a [routerLink]="['pallets']">Pallets</a> ||
    <a [routerLink]="['test_load']">Test Load</a> ||
    <a [routerLink]="['loading']">Loading</a>
  </nav>
</div>
