<form (ngSubmit)="addBoxToPallet(box)">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <div class="col-lg-6 col-md-4 col-sm-2">
          <label>Box Barcode: </label>
          <input autoFocus [(ngModel)]="box.box_info_key" name="{{'box_info_key' + index}}" placeholder="">
          <button class="btn btn-primary" type="submit">Add Box</button>
        </div>
      </div>
    </div>
  </div>
</form>

<label>Pallet Width: </label>
<input [(ngModel)]="pallets.pallet_width" name="{{pallets.pallet_width + index}}">
<br>
<label>Pallet Length: </label>
<input [(ngModel)]="pallets.pallet_length" name="{{pallets.pallet_length + index}}">
<br>
<label>Pallet Height: </label>
<input [(ngModel)]="pallets.pallet_height" name="{{pallets.pallet_height + index}}">
<br>
<label>Pallet Weight: </label>
<input [(ngModel)]="pallets.pallet_weight" name="{{pallets.pallet_weight + index}}">
<br>
<button (click)="editPallet(pallets)">Edit Pallet</button>
<br>

<button (click)="printPalletLabel()">Print Pallet Label</button>

<div *ngFor="let pallet_line of pallet_lines">
    <hr>
    <label>Pallet #: </label>
    {{pallet_line.pallet_number}}
    <br>
  <p>
    <label>Box Barcode: </label>
    {{pallet_line.box_info_key}}.{{pallet_line.box_no}}
  <br>
    <label>Sales Order Number: </label>
    {{pallet_line.sales_order_number}}
  <br>
    <label>Package Length:</label>
    {{pallet_line.package_length | number: '.0-0'}}
  <br>
    <label>Package Width:</label>
    {{pallet_line.package_width | number: '.0-0'}}
  <br>
    <label>Package Height</label>
    {{pallet_line.package_height | number: '.0-0'}}
  <br>
    <label>Box Description: </label>
    {{pallet_line.box_description}}
  <br>
    <label>Tested time: </label>
    {{pallet_line.testcount_timestamp}}
  <br>
    <label>Person who tested: </label>
    {{pallet_line.testcount_person}}
  <br>
    <label>When it was loaded? </label>
    {{pallet_line.loaded_timestamp}}
  </p>
  <button (click)="removeBox(pallet_line)">Remove Box</button>
</div>
