<h2>Current Boxes</h2>

<form (ngSubmit)="addBoxToPallet(box)">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">

        <div class="col-lg-6 col-md-4 col-sm-2">
          <label>Box Barcode: </label>
          <input autoFocus [(ngModel)]="box.box_info_key" name="{{'box_info_key' + index}}" placeholder="">
        </div>
        <br>
        <div class="col-lg-6 col-md-4 col-sm-2">
          <button class="btn btn-primary" type="submit">Add Box</button>
        </div>
      </div>
    </div>
  </div>
</form>
<br>

<div *ngFor="let pallet_line of pallet_lines">
  <label>Pallet #: </label>
  {{pallet_line.pallet_number}}
  <br>
  <p>
    <label>Box Barcode: </label>
    {{pallet_line.box_info_key}}.{{pallet_line.box_no}}
    <br>
    <label>Package Length:</label>
    {{pallet_line.package_length | number: '.0-0'}}
    <br>
    <label>Package Width:</label>
    {{pallet_line.package_width | number: '.0-0'}}
    <br>
    <label>Package Height</label>
    {{pallet_line.package_height | number: '.0-0'}}
    <br>
    <label>Box Description: </label>
    {{pallet_line.box_description}}
    <br>
    <label>Tested time: </label>
    {{pallet_line.testcount_timestamp}}
    <br>
    <label>Person who tested: </label>
    {{pallet_line.testcount_person}}
    <br>
    <label>When it was loaded? </label>
    {{pallet_line.loaded_timestamp}}
  </p>
  <button (click)="removeBox(pallet_line)">Remove Box</button>
  <hr>
</div>

<form (ngSubmit)="addPalletInfo(pallet)">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <div class="col-lg-6 col-md-4 col-sm-2">
          <label>Pallet Height: </label>
          <input [(ngModel)]="pallet.pallet_height" name="pallet_height" placeholder="{{pallet.pallet_height}}">
          <br>
          <label>Pallet Width: </label>
          <input [(ngModel)]="pallet.pallet_width" name="pallet_width" placeholder="{{pallet.pallet_width}}">
          <br>
          <label>Pallet Length: </label>
          <input [(ngModel)]="pallet.pallet_length" name="pallet_length" placeholder="{{pallet.pallet_length}}">
          <br>
          <label>Pallet Weight: </label>
          <input [(ngModel)]="pallet.pallet_weight" name="pallet_weight" placeholder="{{pallet.pallet_weight}}">

          <br>
          <button class="btn btn-primary" type="submit">Complete Pallet</button>
        </div>
      </div>
    </div>
  </div>
