<h2>Pallets</h2>
<p class="pallet_creation" (click)="CreatePallet()">Create a Pallet</p>
<br>
<div class="table-responsive">
  <h2>Staged Pallets</h2>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Pallet Number</th>
        <th>Width</th>
        <th>Length</th>
        <th>Height</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!pallets || pallets.length === 0">
        <td colspan="5" style="text-align: center">No Items</td>
      </tr>
      <tr *ngFor="let pallet of pallets" (click)="OnPalletClick(pallet)">
        <td>
          {{pallet.id}}
        </td>
        <td>
          {{pallet.pallet_length}}
        </td>
        <td>
          {{pallet.pallet_height}}
        </td>
        <td>
          {{pallet.pallet_width}}
        </td>
        <td>
          {{pallet.pallet_weight}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
