<div>
  <h2>{{rma_header.sell_to_customer_name}}</h2>
  <hr>
  <p>
    <strong>Request Date:</strong> {{rma_header.request_date}}
  </p>
  <p>
    <strong>Invoice Number:</strong> {{rma_header.no_field}}
  </p>
  <p>
    <strong>Returned From:</strong>
    {{rma_header.ship_to_address}} {{rma_header.ship_to_address_2}}
    {{rma_header.ship_to_city}} {{rma_header.ship_to_county}}
    {{rma_header.ship_to_post_code}}
  </p>
  <p *ngIf="!rma_header.return_reason">
    <strong>Reason Returned:</strong>
    No explanation.
  </p>
  <p *ngIf="rma_header.return_reason">
    <strong>Reason Returned:</strong>
    {{rma_header.return_reason}}
  </p>

<form (ngSubmit)="onHeaderStatusSubmit()">
  <p>
    <strong>Return Status</strong>
    <select [(ngModel)]="rma_header.status" name="status">
      <option selected="selected" disabled>{{rma_header.status}}</option>
      <option>Waiting for more</option>
      <option>Completed</option>
    </select>
    <button class="btn btn-default">Submit</button>
  </p>
</form>
</div>


<form (ngSubmit)="onReceivingRmaLineSubmit()">
  <table class="table">
    <thead>
      <tr>
        <th>Expected Return Qty</th>
        <th>Qty Returned</th>
        <th>Original Qty</th>
        <th>Description</th>
        <th>Qty RTS</th>
        <th>Qty RTM</th>
        <th>Qty Scrap</th>
        <th>Return Completed<th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!rma_lines || rma_lines.length === 0">
        <td colspan="5" style="text-align: center">No Items</td>
      </tr>
      <tr *ngFor="let rma_line of rma_lines">
        <td>
          {{rma_line.expected_return_quantity}}
        </td>
        <td>
          <input type="text" [(ngModel)]="rma_line.returned_quantity" name="{{rma_line.returned_quantity + index}}">
        </td>
        <td>
          {{rma_line.original_quantity | number: '.0-0'}}
        </td>
        <td>
          {{rma_line.description}} {{rma_line.description_2}}
        </td>
        <td>
          <input type="text" [(ngModel)]="rma_line.rts_qty" name="{{rma_line.rts_qty + index}}">
        </td>
        <td>
          <input type="text" [(ngModel)]="rma_line.rtm_qty" name="{{rma_line.rtm_qty + index}}">
        </td>
        <td>
          <input type="text" [(ngModel)]="rma_line.scrap_qty" name="{{rma_line.scrap_qty + index}}">
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="rma_line.return_completed" name="completed">
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary"type="submit">Submit</button>
</form>

<app-messages [rma_header_id]="rma_header_id"></app-messages>
