<div class="table-responsive">
  <h2>New Returns</h2>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Rma Number</th>
        <th>Call Tag</th>
        <th>Request Date</th>
        <th>Invoice Number</th>
        <th>Status</th>
        <th>Customer Name</th>
        <th>Returned From</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!rma_headers || rma_headers.length === 0">
        <td colspan="5" style="text-align: center">No Items</td>
      </tr>
      <tr *ngFor="let rma_header of rma_headers" (click)="OnRmaHeaderClick(rma_header)">
        <td>
          {{rma_header.id}}
        </td>
        <td>
          {{rma_header.call_tag}}
        </td>
        <td>
          {{rma_header.request_date}}
        </td>
        <td>
          {{rma_header.no_field}}
        </td>
        <td>
          {{rma_header.status}}
        </td>
        <td>
          {{rma_header.sell_to_customer_name}}
        </td>
        <td>
          {{rma_header.ship_to_address}} {{rma_header.ship_to_address_2}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
