<div class="table-responsive">
  <h2>Old Returns</h2>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Rma Number</th>
        <th>Call Tag</th>
        <th>Request Date</th>
        <th>Invoice Number</th>
        <th>Status</th>
        <th>Customer Name</th>
        <th>Returned From</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!complete_headers || complete_headers.length === 0">
        <td colspan="5" style="text-align: center">No Items</td>
      </tr>
      <tr *ngFor="let complete_header of complete_headers" (click)="OnCompleteRmaHeaderClick(complete_header)">
        <td>
          {{complete_header.id}}
        </td>
        <td>
          {{complete_header.call_tag}}
        </td>
        <td>
          {{complete_header.request_date}}
        </td>
        <td>
          {{complete_header.no_field}}
        </td>
        <td>
          {{complete_header.status}}
        </td>
        <td>
          {{complete_header.sell_to_customer_name}}
        </td>
        <td>
          {{complete_header.ship_to_address}} {{complete_header.ship_to_address_2}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
