<div class="container-fluid">
  <h1>Kaemark Return Merchandise Authorization</h1>
  <hr>
  <form (ngSubmit)="onOrderEntryRmaHeaderSubmit()" *ngIf="!rma_header_id">

    <p>OE User ID: {{rma_header.salesperson_code}}</p>
    <p>Invoice Number: {{rma_header.no_field}}</p>

    <div class="form-group">
      <label class="control-label">Why is freight being returned?</label>
      <select class="form-control" [(ngModel)]="rma_header.return_reason" name="return_reason">
        <option>Freight damaged, POD signed as damaged.</option>
        <option>Freight damaged, POD signed as clean delivery.</option>
        <option>Customer Does Not Want - Product Not Used</option>
        <option>Product is defective</option>
        <option>Wrong product was shipped</option>
      </select>
    </div>

    <div class="form-group">
      <label>Is a call tag required?</label>
      <select class="form-control" [(ngModel)]="rma_header.call_tag" name="call_tag">
        <option>No call Tag - Need to provide a credit memo only.</option>
        <option>No call Tag - Customer is sending back themselves.</option>
        <option>LTL</option>
        <option>FEG</option>
      </select>
    </div>

    <p *ngIf="rma_header.return_reason==='No call Tag - Need to provide a credit memo only.'">
      Credit memo requested only.
    </p>

    <p *ngIf="rma_header.return_reason==='Freight damaged, POD signed as damaged.'">
      Verify customer has called freight company to report as damage. This must be done WITHIN 5 DAYS OF RECEIPT. 800-610-6500 to report YRC
      Customer does not need to pay for unit ahead of time, however, if they do not return unit as instructed by freight company, then they might be charged later.
    </p>

    <p *ngIf="rma_header.return_reason==='Freight damaged, POD signed as clean delivery.'">
      Customer must pay for the product up-front. Once we receive the mis-shipped or the defective product their credit card will be refunded.
    </p>

    <div class="form-group">
      <div class="checkbox">
      <label><input class="checkbox-inline" type="checkbox" [(ngModel)]="rma_header.credit_memo_required" name="credit_memo_required">
      Is a Credit Memo required?</label>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox">
      <label><input class="checkbox-inline" type="checkbox" [(ngModel)]="rma_header.credit_terms" name="credit_terms">
      The Customer/Distributor has credit terms with Kaemark?</label>
      </div>
    </div>
    <hr>

    <h3>Contact Information</h3>

    <div>
      <div class="form-group">
      <label for="rma_header.sell_to_customer_name">Business Name: </label>
      <input class="form-control" type="text" [(ngModel)]="rma_header.sell_to_customer_name" name="sell_to_customer_name">
    </div>

    <div class="form-group">
      <label for="rma_header.ship_to_phone_number">Phone Number: </label>
      <input class="form-control" type="text" [(ngModel)]="rma_header.ship_to_phone_number" name="ship_to_phone_number">
    </div>

    <div class="form-group">
      <label for="rma_header.ship_to_email">Email Address: (Required for LTL Pickups)</label>
      <input class="form-control" type="text" [(ngModel)]="rma_header.ship_to_email" name="ship_to_email">
    </div>

    <hr>
    <h3>Pickup Scheduling Information</h3>

    <div class="form-group">
      <label for="rma_header.pick_up_day">What date will the product be ready for pickup: </label>
      <input type="text" class="input"[(ngModel)]="rma_header.pick_up_day" name="pick_up_day">
    </div>
    <script>
    $('#input').datepicker({
    format: "YYYY[-MM[-DD]]"
});
    </script>

    <p>
      (Remind customer that if carrier tries to pickup after this date/time and and the product
      is not back in its original packaging ready to be pickedup then they are responsible for
      any additional fees the carrier might charge)
    </p>

    <div class="form-group">
      <label for="rma_header.pick_up_hours">In between what hours will the product be ready for pickup? </label>
      <select class="form-control" [(ngModel)]="rma_header.pick_up_hours" name="pick_up_hours">
        <option>Anytime</option>
        <option>Morning</option>
        <option>Afternoon</option>
      </select>
    </div>

    <hr>
    <h3>Pickup Location</h3>

    <div class="form-group">
      <label for="rma_header.ship_to_address">Address:</label>
      <input class="form-control" type="text" [(ngModel)]="rma_header.ship_to_address" name="ship_to_address">

      <label for="rma_header.pick_up_address2">Suite/Apt:</label>
      <input class="form-control" type="text" [(ngModel)]="rma_header.ship_to_address_2" name="ship_to_address_2">
    </div>

    <div class="form-group">
      <label for="rma_header.pick_up_city">City:</label>
      <input class="form-control" type="text" [(ngModel)]="rma_header.ship_to_city" name="ship_to_city">

      <label for="rma_header.pick_up_state">State:</label>
      <input class="form-control" type="text" [(ngModel)]="rma_header.ship_to_county" name="ship_to_county">
    </div>

    <div class="form-group">
      <label for="rma_header.pick_up_post_code">Zip Code:</label>
      <input class="form-control" type="text" [(ngModel)]="rma_header.ship_to_post_code" name="ship_to_post_code">
    </div>

    <div class="form-group">
      <div class="checkbox">
      <label><input type="checkbox" class="residential" [(ngModel)]="rma_header.pick_up_residential" name="pick_up_residential">
      This address is residential</label>
      </div>
    </div>

    <p class="pickup_instruction">
      Further Instruction: If the pickup address is residential or if they have
      limited pickup availability and the shipping type is FEG, you might
      mention to them that they can drop it off at a FEG box and it might be easier
      than waiting since pickup times cannot be guaranteed.
    </p>

    <div class="form-group">
      <label>Additional Notes regarding pickup: </label>
      <textarea class="form-control" rows="4" cols="100" [(ngModel)]="rma_header.pick_up_notes" name="pick_up_notes"></textarea>
    </div>

    <hr>

    <h3>Return Location and Information</h3>

    <p>
      <strong>Product Return Address: </strong>
    </p>

    <div class="form-group">
      <label for="rma_header.return_address">Company destination: </label>
      <select class="form-control" [(ngModel)]="rma_header.return_address" name="return_address">
        <option>Kaemark, Inc., 1338 CR 208, Giddings, TX 78942 </option>
        <option>Highland Machine, 700 5th Street, Highland, IL 62249</option>
        <option>Smart Step, 1000 Independence Dr #4, Sullivan, MO 63080</option>
      </select>
      (Receiving hours are from 8AM - 4PM)
    </div>

    <div class="form-group">
      <label class="control-label">Credit Memo/Refund Instructions</label>
      <select class="form-control" [(ngModel)]="rma_header.cm_restocking_charge" name="restocking_fee">
        <option [value]="0">No Restocking Fee</option>
        <option [value]="10">10% Restocking Fee</option>
        <option [value]="20">20% Restocking Fee</option>
      </select>
    </div>

    <div class="form-group">
      <div class="checkbox">
      <label><input type="checkbox" [(ngModel)]="rma_header.cm_deduct_incoming_freight" name="refund_instructions">
      Deduct Return Freight Costs from Credit Memo/Refund</label>
    </div>
      <div class="checkbox">
      <label><input type="checkbox" [(ngModel)]="rma_header.cm_deduct_outgoing_freight" name="refund_instruction">
      Deduct Original Freight Costs from Credit Memo/Refund</label>
      </div>
    </div>

    <div class="form-group">
      <label>Other notes regarding credit:</label>
      <textarea class="form-control" rows="4" cols="100" [(ngModel)]="rma_header.credit_notes" name="credit_notes"></textarea>
    </div>

    <div class="form-group">
      <label>Call tag number:</label>
      <input class="form-control" type="text" placeholder="{{rma_header.call_tag_number}}" [(ngModel)]="rma_header.call_tag_number" name="call_tag_number">
    </div>

    <p align="right">
      <button class="btn btn-primary" type="submit" [disabled]="rmaHeaderId">Submit</button>
    </p>
    </div>
  </form>

  <app-oe-table *ngIf="rma_header_id" [rma_header_id]="rma_header_id" [psi]="psi"></app-oe-table>

  <app-oe-current-rma-table [psi]="psi"></app-oe-current-rma-table>

  <app-messages *ngIf="rma_header_id" [rma_header_id]="rma_header_id"></app-messages>
</div>
<p align="right">
  <button class="btn btn-primary" (click)="oeCompletedRma()" type="submit">Complete Return</button>
</p>
