Please select the shipping door:
<form>
  <select [(ngModel)]="loading_location.loading_location" name="loading_location">
    <option [value]="0"></option>
    <option [value]="1">1</option>
    <option [value]="2">2</option>
    <option [value]="3">3</option>
  </select>
  <button (click)="getSalesOrders(loading_location)">Get Orders</button>
</form>

<div [hidden]="loading_location.loading_location !== '1'">
  <h2>Shipping Door #1</h2>
  <hr>
  <table>
    <tr>Sales Order Number</tr>
  </table>
</div>

<div [hidden]="loading_location.loading_location !== '2'">
  <h2>Shipping Door #2</h2>
  <hr>
</div>

<div [hidden]="loading_location.loading_location !== '3'">
  <h2>Shipping Door #3</h2>
  <hr>
</div>
