<h2>Current Messages</h2>
<hr>
<div *ngFor="let message_ of messages">
  <p>
    <strong>Sent By: </strong>
    {{message_.sender}}
  </p>
  <p>
    <strong>Date Posted: </strong>{{message_.date_posted}}
  </p>
  <p>
    <strong>Department: </strong>
    {{message_.department}}
  </p>
  <p>
    <strong>Message: </strong>
    {{message_.message}}
  </p>
  <hr>
</div>

<h2>Post a Message</h2>
<form (ngSubmit)="postMessage(message)">
  <label>Person Sending the message: </label>
  <input [(ngModel)]="message.sender" name="{{'message_sender' + index}}" placeholder="">
  <br>
  <label>Department to send the message to: </label>
  <select [(ngModel)]="message.department" name="{{'message_dept' + index}}" placeholder="">
    <option>Order Entry</option>
    <option>Accounting</option>
    <option>Receiving</option>
  </select>
  <br>
  <label>Message: </label>
  <p>
    <textarea [(ngModel)]="message.message" name="{{'message_text' + index}}" rows="4" cols="50" placeholder=""></textarea>
  </p>
  <br>
  <button class="btn btn-primary" type="submit">Post Message</button>
</form>
