<form (ngSubmit)="onOeLineItemReturnedSubmit()">
  <h2>Current Items being Returned</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Expected Return Qty</th>
        <th>Qty Returned</th>
        <th>Original Qty</th>
        <th>Description</th>
        <th>Qty RTS</th>
        <th>Qty RTM</th>
        <th>Qty Scrap</th>
        <th>Return Completed<th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!rma_lines || rma_lines.length === 0">
        <td colspan="5" style="text-align: center">No Items</td>
      </tr>
      <tr *ngFor="let rma_line of rma_lines; let index = index">
        <td>
          <input type="text" [(ngModel)]="rma_line.expected_return_quantity" name="{{'expected_return_quantity' + index}}" placeholder="{{rma_line.expected_return_quantity}}">
        </td>
        <td>
          {{rma_line.returned_quantity}}
        </td>
        <td>
          <input type="text" [(ngModel)]="rma_line.original_quantity" name="{{'original_quantity' + index}}" placeholder="{{rma_line.original_quantity}}">
        </td>
        <td>
          <textarea (change)="setRmaDescription(rma_line, $event.target.value)" [value]="getRmaDescription(rma_line)"></textarea>
        </td>
        <td>
          {{rma_line.rts_qty}}
        </td>
        <td>
          {{rma_line.rtm_qty}}
        </td>
        <td>
          {{rma_line.scrap_qty}}
        </td>
        <td>
          {{rma_line.return_completed}}
        </td>
      </tr>
    </tbody>
  </table>
  <p align="right">
  <button class="btn btn-primary" type="submit">Submit</button>
</p>
</form>
