<h2>Current Items being Returned</h2>
<form (ngSubmit)="onOeLineItemReturnedSubmit()">
  <table class="table">
    <thead>
      <tr>
        <th>Expected Return Qty</th>
        <th>Qty Returned</th>
        <th>Original Qty</th>
        <th>Description</th>
        <th>Qty RTS</th>
        <th>Qty RTM</th>
        <th>Qty Scrap</th>
        <th>Return Completed<th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!rma_lines || rma_lines.length === 0">
        <td colspan="5" style="text-align: center">No Items</td>
      </tr>
      <tr *ngFor="let rma_line of rma_lines">
        <td>
          <input type="text" [(ngModel)]="rma_line.expected_return_quantity" name="{{'expected_return_quantity' + index}}">
        </td>
        <td>
          <input type="text" disabled [(ngModel)]="rma_line.returned_quantity" name="{{'returned_quantity' + index}}" placeholder="{{rma_line.returned_quantity}}">
        </td>
        <td>
          {{rma_line.original_quantity | number: '.0-0'}}
        </td>
        <td>
          {{rma_line.description}} {{rma_line.description_2}}
        </td>
        <td>
          <input *ngIf="rma_line.rts_qty" type="text" disabled [(ngModel)]="rma_line.rts_qty" name="{{'rts_qty' + index}}" placeholder="{{rma_line.rts_qty}}">
        </td>
        <td>
          <input *ngIf="rma_line.rtm_qty" type="text" disabled [(ngModel)]="rma_line.rtm_qty" name="{{'rtm_qty' + index}}" placeholder="{{rma_line.rtm_qty}}">
        </td>
        <td>
          <input *ngIf="rma_line.scrap_qty"type="text" disabled [(ngModel)]="rma_line.scrap_qty" name="{{'scrap_qty' + index}}" placeholder="{{rma_line.scrap_qty}}">
        </td>
        <td>
          <input *ngIf="rma_line.return_completed" type="checkbox" disabled [(ngModel)]="rma_line.return_completed" name="{{'return_completed' + index}}" placeholder="{{rma_line.return_completed}}">
        </td>
      </tr>
    </tbody>
  </table>
  <p align="right">
  <button class="btn btn-primary" type="submit">Submit</button>
</p>
</form>
