<div class="col-sm-12">
  <label>Scan Barcode: </label>
  <br>
  <input type="text" autoFocus [(ngModel)]="box.box_info_key" name="box_info_key" placeholder="">
  <button (click)="RetrieveData(box)">Retrieve Data</button>
</div>
<div class="col-sm-12">
  <label>Shipping Employee: </label>
  <select [(ngModel)]="person" name="person">
    <option>Nashanda</option>
    <option>Daion</option>
    <option>Sean</option>
    <option>Daniel</option>
    <option>Damion</option>
  </select>
</div>
<div class="col-sm-12">
  <label>Test Load: </label>
  <input type="text" [(ngModel)]="barcode" name="barcode" placeholder="">

  <button (click)="Test()">Test</button><button (click)="LoadPallet()">Load</button>
</div>
