<div>
  <h2>{{rma_header.sell_to_customer_name}}</h2>
  <hr>
  <p>
    <label>Request Date:</label> {{rma_header.request_date}}
  </p>
  <p>
    <label>Invoice Number:</label> {{rma_header.no_field}}
  </p>
  <p>
    <label>Returned From:</label>
    {{rma_header.ship_to_address}} {{rma_header.ship_to_address_2}}
    {{rma_header.ship_to_city}} {{rma_header.ship_to_county}}
    {{rma_header.ship_to_post_code}}
  </p>
  <p *ngIf="!rma_header.return_reason">
    <label>Reason Returned:</label>
    No explanation.
  </p>
  <p *ngIf="rma_header.return_reason">
    <label>Reason Returned:</label>
    {{rma_header.return_reason}}
  </p>
  <p *ngIf="rma_header.credit_notes">
    <label>Credit Notes:</label>
    {{rma_header.credit_notes}}
  </p>
  <p>
    <label>Deduct Incoming Freight?</label>
    {{rma_header.cm_deduct_incoming_freight}}
  </p>
  <p>
    <label>Deduct Outgoing Freight</label>
    {{rma_header.cm_deduct_outgoing_freight}}
  </p>
  <p>
    <label>Restocking Fee:</label>
    {{rma_header.cm_restocking_charge}}%
  </p>
  <p>
    <label>Call Tag #:</label>
    {{rma_header.call_tag}}
  </p>
  <form (ngSubmit)="onAccountingCreditMemo()">
<p>
  <label>Credit Memo Number:</label>
  <input type="text" [(ngModel)]="rma_header.credit_memo_number" name="credit memo number" placeholder="{{rma_header.credit_memo_number}}">
</p>
<p>
  <label>Is the credit complete? </label>
  <input type="checkbox" [(ngModel)]="rma_header.accounting_complete" name="accounting_complete">
</p>
<button class="btn btn-primary">Submit</button>
</form>
</div>


<form (ngSubmit)="onAccountingRmaLineSubmit()">
  <table class="table">
    <thead>
      <tr>
        <th>Expected Return Qty</th>
        <th>Qty Returned</th>
        <th>Original Qty</th>
        <th>Description</th>
        <th>Qty RTS</th>
        <th>Qty RTM</th>
        <th>Qty Scrap</th>
        <th>Amount Credited</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!rma_lines || rma_lines.length === 0">
        <td colspan="5" style="text-align: center">No Items</td>
      </tr>
      <tr *ngFor="let rma_line of rma_lines">
        <td>
          {{rma_line.expected_return_quantity}}
        </td>
        <td>
          <input type="text" [(ngModel)]="rma_line.returned_quantity" name="returned_qty">
        </td>
        <td>
          {{rma_line.original_quantity | number: '.0-0'}}
        </td>
        <td>
          {{rma_line.description}} {{rma_line.description_2}}
        </td>
        <td>
          <input *ngIf="rma_line.rts_qty" type="text" [(ngModel)]="rma_line.rts_qty" name="return_to_stock" placeholder="{{rma_line.rts_qty}}">
        </td>
        <td>
          <input *ngIf="rma_line.rtm_qty" type="text" [(ngModel)]="rma_line.rtm_qty" name="return_to_merchant" placeholder="{{rma_line.rtm_qty}}">
        </td>
        <td>
          <input *ngIf="rma_line.scrap_qty" type="text" [(ngModel)]="rma_line.scrap_qty" name="scrap" placeholder="{{rma_line.scrap_qty}}">
        </td>
        <td>
          <input type="text" [(ngModel)]="rma_line.amount_credited" name="amount_credited" placeholder="$">
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary"type="submit">Submit</button>
</form>

<app-messages [rma_header_id]="rma_header_id"></app-messages>
